// Dark mode
body {
    &.darkmode {
        background-color: $dark;
        color: $light;

        a, a:visited {
            color: lighten($ie-blue, 10%);

            @include hover-state {
                color: inherit; // Inherit default text color on hover
            }
        }

        header {
            .logo {
                path {
                    fill: $light;
                }
            }
        }

        .code-highlight {
            background-color: $code-dark;
            color: $light;
        }

        footer {
            border-color: lighten($dark, 15%);

            .nuxt, .github, .codepen {
                path {
                    &:last-of-type {
                        fill: $light;
                    }
                }
            }
        }
    }
}
