// Dark mode
body {
    &.darkmode {
        background-color: $dark;
        color: $light;

        header {
            .logo {
                path {
                    fill: $light;
                }
            }
        }

        li a {
            &.github,
            &.codepen {
                fill: $light;
            }
        }

        .code-highlight {
            background-color: $code-dark;
            color: $light;
        }

        footer {
            border-color: lighten($dark, 15%);

            .nuxt {
                path {
                    &:last-of-type {
                        fill: $light;
                    }
                }
            }
        }
    }
}
